.DS_Store
.build
.swiftpm
DerivedData/
build/
xcuserdata/
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.swp
*.orig
.env
.env.*
Supabase/.branches
Supabase/.temp
Secrets/

